body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
    
.delete-form button {
  color: red;
}
    
li {
  list-style: none;
}

button {
  color: red;
  background-color: black;
  border-color: white;
  border-width: 1px;
  border-style: solid;
}
#save-skill {
  color: black;
  background-color: rgb(238, 233, 233);
  border-color: black;
  border-width: 1px;
  border-style: solid;
}