body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #ff0055;
}

.delete-form {
  display: inline-block;
  margin-right: 10px;
}
    
.delete-form button {
  color: red;
  background-color: rgb(226, 226, 226);
}
    
/* li {
  list-style: none;
} */

button {
  color: rgba(0, 0, 255, 0.038);
  background-color: rgb(159, 157, 157);
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

button:hover {
  color: black;
  background-color: rgb(255, 255, 255);
  border-color: red;
  border-width: 1px;
  border-style: solid;
}

#save-skill {
  color: black;
  background-color: rgb(238, 233, 233);
  border-color: black;
  border-width: 1px;
  border-style: solid;
}